<!-- Portfolio Modal 6 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-6">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-2">TodoList</h2>
                    <ul class="list-inline text-secondary text-uppercase">
                        <li class="list-inline-item">Symfony 3</li>|
                        <li class="list-inline-item">Blackfire</li>|
                        <li class="list-inline-item">Sensiolabs Insight</li>|
                        <li class="list-inline-item">Redis</li>|
                        <li class="list-inline-item">GitHub</li>|
                        <li class="list-inline-item">Doctrine</li>|
                        <li class="list-inline-item">PhpMetrics</li>|
                        <li class="list-inline-item">UML</li>
                    </ul>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{ asset('assets/img/portfolio/todolist.jpg') }}" alt="">
                    <p class="text-justify">
                        Nous venons d’intégrer une startup dont le coeur de métier est une application permettant de gérer ses tâches quotidiennes. L’entreprise vient tout juste d’être montée, et l’application a dû être développée à toute vitesse pour permettre de montrer à de potentiels investisseurs que le concept est viable.<br><br>
                        Notre rôle ici est donc d’améliorer la qualité de l’application. La qualité est un concept qui englobe bon nombre de sujets : on parle souvent de qualité de code, mais il y a également la qualité perçue par l’utilisateur de l’application ou encore la qualité perçue par les collaborateurs de l’entreprise et enfin la qualité que vous percevez lorsqu’il vous faut travailler sur le projet.
                    </p>
                    <p class="text-justify">
                        Ainsi, pour ce dernier projet de spécialisation, nous sommes dans la peau d’un développeur expérimenté en charge des tâches suivantes :<br>
                    </p>
                    <ul class="text-justify">
                        <li>l’implémentation de nouvelles fonctionnalités</li>
                        <li>la correction de quelques anomalies</li>
                        <li>et l’implémentation de tests automatisés.</li>
                    </ul>
                    <p class="text-justify">
                        Il nous est également demandé d’analyser le projet grâce à des outils vous permettant d’avoir une vision d’ensemble de la qualité du code et des différents axes de performance de l’application et de mettre en place les corrections nécessaires.<br>
                    </p>
                    <p class="text-justify">
                        <b>Identifiants de connexion au panel d'administration :</b>
                    </p>
                    <ul class="text-justify">
                        <li>Role Administrateur (Login/Mdp = "admin")</li>
                        <li>Role Utilisateur (Login/Mdp = "user")</li>
                    </ul>
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.comp'|trans }}</h3>
                    <ul class="fa-ul text-justify">
                        <li><i class="fa-li fa fa-check-square"></i>Proposer une série d’améliorations</li>
                        <li><i class="fa-li fa fa-check-square"></i>Implémenter de nouvelles fonctionnalités au sein d’une application déjà initiée en suivant un plan de collaboration clair</li>
                        <li><i class="fa-li fa fa-check-square"></i>Lire et retranscrire le fonctionnement d’un morceau de code écrit par d’autres développeurs</li>
                        <li><i class="fa-li fa fa-check-square"></i>Mettre en oeuvre des tests unitaires et fonctionnels</li>
                        <li><i class="fa-li fa fa-check-square"></i>Produire un rapport de l’exécution des tests</li>
                        <li><i class="fa-li fa fa-check-square"></i>Analyser la qualité de code et la performance d’une application</li>
                        <li><i class="fa-li fa fa-check-square"></i>Établir un plan pour réduire la dette technique d’une application</li>
                        <li><i class="fa-li fa fa-check-square"></i>Fournir des patchs correctifs lorsque les tests le suggèrent</li>
                    </ul>
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.resources'|trans }}</h3>
                    <div class="btn-toolbar justify-content-center pb-5" role="toolbar">
                        <a class="btn btn-secondary btn-md mr-4" href="https://www.alexandrecorroy.fr/todolist/" target="_blank"><i class="fa fa-play"></i> {{ 'portfolio.demo'|trans }}</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://github.com/alexandrecorroy/Todolist" target="_blank"><i class="fa fa-github"></i> Github</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://drive.google.com/open?id=1hna_w7rdeangadnQ-S3KIbsaXtNP36Np" target="_blank"><i class="fa fa-file"></i> {{ 'portfolio.files'|trans }}</a>
                    </div>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        {{ 'portfolio.close'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
