<!-- Portfolio Modal 4 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-4">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-2">Snowtricks</h2>
                    <ul class="list-inline text-secondary text-uppercase">
                        <li class="list-inline-item">BootStrap</li>|
                        <li class="list-inline-item">CSS</li>|
                        <li class="list-inline-item">HTML</li>|
                        <li class="list-inline-item">PHP</li>|
                        <li class="list-inline-item">Symfony 3.4</li>|
                        <li class="list-inline-item">Sensiolabs Insight</li>|
                        <li class="list-inline-item">GitHub</li>|
                        <li class="list-inline-item">Twig</li>|
                        <li class="list-inline-item">Doctrine</li>|
                        <li class="list-inline-item">UML</li>
                    </ul>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{ asset('assets/img/portfolio/snowtricks.jpg') }}" alt="">
                    <p class="text-justify">
                        Jimmy Sweat est un entrepreneur ambitieux passionné de snowboard. Son objectif est la création d'un site collaboratif pour faire connaitre ce sport auprès du grand public et aider à l'apprentissage des figures (tricks).<br><br>
                        Il souhaite capitaliser sur du contenu apporté par les internautes afin de développer un contenu riche et suscitant l’intérêt des utilisateurs du site. Par la suite, Jimmy souhaite développer un business de mise en relation avec les marques de snowboard grâce au trafic que le contenu aura généré.
                    </p>
                    <p class="text-justify">
                        Nous sommmes chargé de développer le site répondant aux besoins de Jimmy et donc implémenter les fonctionnalités suivantes : <br>
                    </p>
                    <ul class="text-justify">
                        <li>un annuaire des figures de snowboard. Vous pouvez vous inspirer de la liste des figures sur Wikipédia avec un jeu de donnée de 10 figures,</li>
                        <li>la gestion des figures (création, modification, consultation),</li>
                        <li>un espace de discussion commun à toutes les figures.</li>
                    </ul>
                    <p class="text-justify">
                        Pour implémenter ces fonctionnalités, vous devez créer les pages suivantes :<br>
                    </p>
                    <ul class="text-justify">
                        <li>la page d’accueil où figurera la liste des figures </li>
                        <li>la page de création d'une nouvelle figure</li>
                        <li>la page de modification d'une figure</li>
                        <li>la page de présentation d’une figure (contenant l’espace de discussion commun autour d’une figure).</li>
                    </ul>
                    <p class="text-justify">
                        <b>Identifiants de connexion au panel d'administration :</b>
                    </p>
                    <ul class="text-justify">
                        <li>Utilisateur (Login/Mdp = "userdemo")</li>
                    </ul>
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.comp'|trans }}</h3>
                    <ul class="fa-ul text-justify">
                        <li><i class="fa-li fa fa-check-square"></i>Développer une application proposant les fonctionnalités attendues par le client</li>
                        <li><i class="fa-li fa fa-check-square"></i>Gérer une base de données MySQL avec Doctrine</li>
                        <li><i class="fa-li fa fa-check-square"></i>Organiser son code pour garantir la lisibilité et la maintenabilité</li>
                        <li><i class="fa-li fa fa-check-square"></i>Prendre en main le moteur de templating Twig</li>
                        <li><i class="fa-li fa fa-check-square"></i>Respecter les bonnes pratiques de développement en vigueur</li>
                        <li><i class="fa-li fa fa-check-square"></i>Sélectionner les langages de programmation adaptés pour le développement de l’application</li>
                        <li><i class="fa-li fa fa-check-square"></i>Prendre en main le framework Symfony</li>
                    </ul>
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.resources'|trans }}</h3>
                    <div class="btn-toolbar justify-content-center pb-5" role="toolbar">
                        <a class="btn btn-secondary btn-md mr-4" href="https://www.alexandrecorroy.fr/snowtricks/" target="_blank"><i class="fa fa-play"></i> {{ 'portfolio.demo'|trans }}</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://github.com/alexandrecorroy/Snowtricks" target="_blank"><i class="fa fa-github"></i> Github</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://drive.google.com/open?id=1hna_w7rdeangadnQ-S3KIbsaXtNP36Np" target="_blank"><i class="fa fa-file"></i> {{ 'portfolio.files'|trans }}</a>
                    </div>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        {{ 'portfolio.close'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
