<!-- Portfolio Modal 2 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-2">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-2">Les films de plein air</h2>
                    <ul class="list-inline text-secondary text-uppercase">
                        <li class="list-inline-item">BootStrap</li>|
                        <li class="list-inline-item">CSS</li>|
                        <li class="list-inline-item">HTML</li>
                    </ul>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" src="{{ asset('assets/img/portfolio/lesfilmsdepleinair.jpg') }}" alt="">
                    <p class="text-justify">
                        Jennifer Viala est l'organisatrice du Festival des Films de Plein Air. Elle ambitionne de sélectionner et projeter des films d'auteur en plein air du 5 au 8 août au parc Monceau à Paris.
                        <br><br>
                        Son association vient juste d'être créée et elle dispose d'un budget limité. Elle a besoin de communiquer en ligne sur son festival, d'annoncer les films projetés et de recueillir les réservations.
                        <br><br>
                        En tant que développeur, on nous demande donc de lister les fonctionnalités dont a besoin la cliente et de proposer une solution technique adaptée. Nous devions donc sélectionner la solution qui nous semblait la plus à même de répondre à son besoin.

                        Nous devions ensuite réaliser une première version de ce site correspondant à ses attentes.‌
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.comp'|trans }}</h3>
                    <ul class="fa-ul text-justify">
                        <li><i class="fa-li fa fa-check-square"></i>Lister les fonctionnalités demandées par un client</li>
                        <li><i class="fa-li fa fa-check-square"></i>Analyser un cahier des charges</li>
                        <li><i class="fa-li fa fa-check-square"></i>Rédiger les spécifications détaillées du projet</li>
                        <li><i class="fa-li fa fa-check-square"></i>Choisir une solution technique adaptée parmi les solutions existantes si cela est pertinent</li>
                    </ul>
                    <h3 class="text-secondary text-uppercase m-5">{{ 'portfolio.resources'|trans }}</h3>
                    <div class="btn-toolbar justify-content-center pb-5" role="toolbar">
                        <a class="btn btn-secondary btn-md mr-4" href="https://www.alexandrecorroy.fr/lesfilmsdepleinair/" target="_blank"><i class="fa fa-play"></i> {{ 'portfolio.demo'|trans }}</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://drive.google.com/open?id=1mOea0p-g3fAKYXnpv7Qorm1o8ponts7H" target="_blank"><i class="fa fa-file"></i> {{ 'portfolio.files'|trans }}</a>
                        <a class="btn btn-secondary btn-md mr-4" href="https://drive.google.com/open?id=1BmZIITJJqXUeLsNOxNikQMehYE_FzHKv" target="_blank"><i class="fa fa-file-pdf-o"></i> {{ 'portfolio.documentation'|trans }}</a>
                    </div>
                    </p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        {{ 'portfolio.close'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
